/* Isometric engine CSS */
div.palette {
    position:absolute;
    top: 5px;
    right: 5px;
    width: 350px;
    height: 800px;
    overflow-y:auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
	z-index: 100;
}

body {
    background: url('../images/clouds.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
    overflow: hidden;
}

canvas.layer {
	position: absolute;
	top: 0:
	left: 0;
	cursor: none;
	padding: 0;
	margin: 0;
}

@media print {
    @page { 
        size: landscape;   /* auto is the initial value */ 

        /* this affects the margin in the printer settings */ 
        margin: 1mm;  
    } 
    
    div.palette {display: none; }
    
    canvas {
        width: 100%;
        height: 100%;
    }
    
    body { margin: 0cm;}
}